/*
!/.gitignore
!/.here
!/README.md
!/MY499-62628.qmd
!/MY499-62628.pdf
!/references.bib
!/scripts/
!/scripts/**
!/output/
!/output/**
!/renv.lock
!/lse_logo.jpg
output/**/*.dta
output/**/*.sav
output/**/*.rds
output/**/*.RData
output/**/06q_bootstrap_draws.csv
output/**/06q_cdh_bootstrap_partA.csv
.DS_Store
.quarto/
*_files/
scripts/.Rhistory
.Rhistory
Dissertation.Rproj
